<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmacy Online Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/address.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light"  style="background-color: #b1e98f; color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Farmacia Online <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="ul-nav">
            <a class="navbar-brand" >
                <img th:src="${'/img/logo.jpg'}" class="logo-image">
                Farmacia Online
            </a>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/signup"><span class="fas fa-user"></span> Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login"><span class="fas fa-sign-in-alt"></span> Login</a>
            </li>
        </ul>

    </div>
</nav>



<div class="containerAddress">
    <h1 class="titleAddress">Address</h1>
    <form th:action="@{/confirm/order}" th:object="${address_form}" method="post">

        <label for="inserted_address"><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="address" id="inserted_address" th:field="*{address}" class="infoAddressFields" required>

        <label for="inserted_zipcode"><b>Zip-Code</b></label>
        <div class="zipcode" id="inserted_zipcode">
            <input type="number"  name="zipcode1" th:field="*{zipcode1}" class="infoAddressFields" required>
            <p id="slash">-</p>
            <input type="number"  name="zipcode2" th:field="*{zipcode2}" class="infoAddressFields" required>
        </div>

        <label for="inserted_city"><b>City</b></label>
        <input type="text" placeholder="Enter City" name="city" id="inserted_city" th:field="*{city}" class="infoAddressFields" required>

        <label for="inserted_district"><b>District</b></label>
        <input type="text" placeholder="Enter District" name="district" id="inserted_district" th:field="*{district}" class="infoAddressFields" required>

        <label for="inserted_country"><b>Country</b></label>
        <input type="text" placeholder="Enter country " name="country" id="inserted_country" th:field="*{country}" class="infoAddressFields" required>

        <label for="inserted_phonenumber"><b>Phone Number</b></label>
        <input type="number" placeholder="Enter phone number " name="phonenumber" id="inserted_phonenumber" th:field="*{phonenumber}" class="infoAddressFields" required>

        <div class="confirmSection">
            <a th:href="@{/cart}" class="btConfirmOrder">Cancel</a>
            <button type="submit" class="btConfirmOrder">Confirm order</button>
        </div>
    </form>
</div>

</body>
</html>