<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmacy Online Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/cart.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

</head>
<body>

<nav class="navbar  fixed-top navbar-expand-lg navbar-light"  style="background-color: #b1e98f; color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Farmacia Online<span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="ul-nav">
            <a class="navbar-brand" >
                <img th:src="${'/img/logo.jpg'}" class="logo-image">
                Farmacia Online
            </a>
            <li class="nav-item">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cart" >
                    <img th:src="${'/icon/cart.png'}" class="cart_icon">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile" >
                    <img th:src="${'/img/avatar.jpeg'}" class="profile-image">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout" >Sign Out <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>

<div class="containerCarrinho" >

    <h1>Cart</h1>
    <div th:if="${!products.isEmpty()}">
        <div th:each="prod: ${products}" class="product_item">
            <a th:href="@{/home/{id}(id=${prod.product_ID})}" class="product_link">
                <div class="product_img_container">
                    <img th:src="${prod.photo}" class="product_img">
                </div>
            </a>
            <div class="product_name">
                <p th:text="${prod.product_name}"> </p>
                <p th:text="${prod.info}" ></p>
            </div>
            <div th:each="mapEntry : ${quantity}" class="quantity_and_price_container">
                <div th:if="${mapEntry.key == prod.getProduct_ID()}">
                    <div class="product_price">
                        <p th:text="${#numbers.formatDecimal((prod.price * mapEntry.value), 0, 'COMMA', 2, 'POINT') + '€'}"> </p>
                    </div>
                    <div class="product_quantity">
                        <a class="add_remove_icons" th:href="@{/cart/delete_quantity/{id}(id=${prod.product_ID})}"><img th:src="${'/icon/minus.png'}"></a>
                        <div  class="quantity_container">
                            <div >
                                <p th:text="${mapEntry.value}" class="quantity"></p>
                            </div>
                        </div>
                        <a class="add_remove_icons" th:href="@{/cart/{id}(id=${prod.product_ID})}"><img th:src="${'/icon/plus.png'}"></a>
                    </div>
                </div>
            </div>
            <div class="delete_product">
                <a th:href="@{/cart/delete/{id}(id=${prod.product_ID})}"> <img th:src="${'/icon/trash.png'}" class="trash_icon" ></a>

            </div>
        </div>

    </div>
    <div th:if="${products.isEmpty()}" class="no_products_message">
        <img th:src="${'/img/no_products_image.jpeg'}" class="no_products_image">
        <h3>No products, yet!</h3>
        <h4>You can add products in the home page, go ahead!</h4>
    </div>
    <a th:if="${!products.isEmpty()}" class="btnConfirm" th:href="@{/confirm/payment}">Confirmar</a>
</div>



</body>
</html>