<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmacy Online Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/editPassword.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

</head>
<body>

<nav class="navbar  fixed-top navbar-expand-lg navbar-light"  style="background-color: #b1e98f; color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Farmacia Online<span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="ul-nav">
            <a class="navbar-brand" >
                <img th:src="${'/img/logo.jpg'}" class="logo-image">
                Farmacia Online
            </a>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/profile" >
                    <img th:src="${'/img/avatar.jpeg'}" class="profile-image">
                </a>
            </li>
        </ul>

    </div>
</nav>

<div class="containerEditPassword">
    <div class="title">
        <a href="/profile"><img th:src="${'/icon/leftArrow.png'}"></a>
        <h1 class="titleEdit">Edit Password</h1>
    </div>
    <div class="editPasswordForm">
        <form th:action="@{/profile/password}" th:object="${editPassword_form}" method="post">
            <label for="psw1"><b>Old Password</b></label>
            <input type="text" placeholder="Enter Old Password" th:field="*{password1}" name="psw1" id="psw1" class="editPasswordField" required>
            <div th:if="${wrongPassword}">
                <p id="errorMessage">Old password doesnt match!</p>
            </div>
            <label for="psw2"><b>New Password</b></label>
            <input type="text" placeholder="Enter New Password" th:field="*{password2}" name="psw2" id="psw2" class="editPasswordField" required>

            <button type="submit" id="btChange"><b>Change Password</b></button>
        </form>
    </div>
</div>

</body>
</html>
