<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

</head>
<body class="index">
    <nav>
        <h1>Farmacia Online</h1>
    </nav>
    <div class="backgroundFarmacy">
        <h1>Welcome!</h1>
        <div class="link">
            <a href="/login">Login</a>
            <a href="/signup">SignUp</a>
        </div>
        <img th:src="${'/img/backgroundIndex.jpeg'}">
    </div>

</body>
</html>