<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Farmacy Online Store</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  <link rel="stylesheet" th:href="@{/css/login.css}"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
  <!--<script>
    function verify(){
      var uname = document.getElementById("uname").value;     
      fetch('http://192.168.160.72:8080/carmarketplace/user='+document.getElementById("uname").value+'/password')  
        .then(  
          function(response) {  
            if (response.status !== 200) {  
              console.log('Looks like there was a problem. Status Code: ' +  
                response.status);  
              return;  
            }
            response.text().then(function(data) { 
              var psw = document.getElementById("psw").value;
              var md5Hash = CryptoJS.MD5(psw);
              if(md5Hash.toString()==data){
                sessionStorage.setItem('logged','true');
                sessionStorage.setItem('username',uname);
                window.location.href = 'index.html';
              }
              else{
                alert("Wrong credentials!");
              }
            });  
          }  
        )  
        .catch(function(err) {  
          console.log('Fetch Error :-S', err);  
        });
        
	  }


</script>-->
</head>
<body>

  <nav class="navbar  fixed-top navbar-expand-lg navbar-light"  style="background-color: #b1e98f; color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      Farmacia Online<span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" id="ul-nav">
        <a class="navbar-brand" >
          <img th:src="${'/img/logo.jpg'}" class="logo-image">
          Farmacia Online
        </a>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/signup"><span class="fas fa-user"></span> Sign Up</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/login"><span class="fas fa-sign-in-alt"></span> Login</a>
        </li>
      </ul>
      
    </div>
  </nav>



    <div class="containerLogin">
      <h1 class="titleLogin">Login</h1>
      <div th:if="${username}" class="notification">
        <h3>Username don't exist!</h3>
      </div>
      <div th:if="${password}" class="notification">
        <h3>Password for the username is wrong!</h3>
      </div>
      <form th:action="@{/login}" th:object="${login_form}" method="post">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" th:field="*{username}" name="uname" id="uname" class="infoLoginFields" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" th:field="*{password}" name="psw" id="psw" class="infoLoginFields" required>

        <button type="submit" id="btLogin"><b>Login</b></button>
      </form>
    </div>

</body>
</html>
