<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmacy Online Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/orders.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

</head>
<body>

<nav class="navbar  fixed-top navbar-expand-lg navbar-light"  style="background-color: #b1e98f; color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Farmacia Online<span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="ul-nav">
            <a class="navbar-brand" >
                <img th:src="${'/img/logo.jpg'}" class="logo-image">
                Farmacia Online
            </a>
            <li class="nav-item">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cart" >
                    <img th:src="${'/icon/cart.png'}" class="cart_icon">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile" >
                    <img th:src="${'/img/avatar.jpeg'}" class="profile-image">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout" >Sign Out <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>

<div class="containerOrders">
    <h1 class="titleOrders">Orders</h1>
    <div class="ordersSection">
        <div th:each="order : ${orders}" class="order_item">
            <div class="order_info">
                <div class="list_products">
                    <div th:each="prod : ${order.getKey().getProducts()}">
                        <p th:text="${prod.getProduct_name()}"></p>
                    </div>
                </div>
                <div class="address">
                    <p th:text="${order.getKey().getAddress().getAddress() + ', ' +
                    order.getKey().getAddress().getZipcode1() + '-' + order.getKey().getAddress().getZipcode2() + ', ' +
                    order.getKey().getAddress().getCity() + ', ' + order.getKey().getAddress().getCountry()
                    }"></p>
                </div>
                <div class="order_price">
                    <p th:text="${#numbers.formatDecimal(order.getKey().getTotal_price(), 0, 'COMMA', 2, 'POINT') + '€'}"></p>
                </div>
            </div>
            <div class="order_current_status">
                <h3 th:text="${order.getValue().getStatus_info().toUpperCase()}"></h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>