<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmacy Online Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/payment.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light"  style="background-color: #b1e98f; color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Farmacia Online <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="ul-nav">
            <a class="navbar-brand" >
                <img th:src="${'/img/logo.jpg'}" class="logo-image">
                Farmacia Online
            </a>
        </ul>
        <ul class="nav navbar-nav ml-auto">

        </ul>

    </div>
</nav>



<div class="containerPayment">
    <h1 class="titlePayment">Payment Information</h1>
    <form th:action="@{/confirm/address}" th:object="${payment_form}" method="post">

        <label for="inserted_cardnumber"><b>Card Number</b></label><br>
        <input type="number" placeholder="Enter Card number" name="cardnumber" id="inserted_cardnumber" th:field="*{cardnumber}" class="infoPaymentFields" required>
        <br>
        <label for="inserted_expirationdate"><b>Expiration date</b></label>
        <div class="expirationdate" id="inserted_expirationdate">
            <input type="number"  name="month" th:field="*{month}" class="infoPaymentFields" required>
            <p id="slash">/</p>
            <input type="number"  name="year" th:field="*{year}" class="infoPaymentFields" required>

        </div>

        <label for="inserted_cvc"><b>Cvc</b></label><br>
        <input type="number" placeholder="Enter Cvc" name="cvc" id="inserted_cvc" th:field="*{cvc}" class="infoPaymentFields" required>
        <br>
        <label for="inserted_ownername"><b>Owner Name</b></label>
        <input type="text" placeholder="Enter owner name" name="ownername" id="inserted_ownername" th:field="*{ownername}"  class="infoPaymentFields"crequired>

        <div class="confirmSection">
            <a th:href="@{/cart}" class="btConfirmPayment">Cancel</a>
            <button type="submit" class="btConfirmPayment">Confirm payment</button>
        </div>

    </form>
</div>

</body>
</html>