<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmacy Online Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/productPage.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

</head>
<body>

<nav class="navbar  fixed-top navbar-expand-lg navbar-light"  style="background-color: #b1e98f; color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Farmacia Online<span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="ul-nav">
            <a class="navbar-brand" >
                <img th:src="${'/img/logo.jpg'}" class="logo-image">
                Farmacia Online
            </a>
            <li class="nav-item">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cart" >
                    <img th:src="${'/icon/cart.png'}" class="cart_icon">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile" >
                    <img th:src="${'/img/avatar.jpeg'}" class="profile-image">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout" >Sign Out <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>

<div class="product_container">
    <div class="product_img_container">
        <img th:src="${product.photo}" class="product_img">

    </div>
    <div class="infoSection">
        <div class="product_info">
            <p th:text="${product.product_name}"></p>
            <p th:text="${product.info}"></p>
        </div>
        <div class="product_price">
            <p th:text="${product.price + '€'}"></p>
        </div>
    </div>
    <a class="btnAddCart" th:href="@{/cart/{id}(id=${product.product_ID})}"> Add to cart </a>
</div>




</body>
</html>
