<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmacy Online Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/profile.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>

</head>
<body>

<nav class="navbar  fixed-top navbar-expand-lg navbar-light"  style="background-color: #b1e98f; color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Farmacia Online<span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="ul-nav">
            <a class="navbar-brand" >
                <img th:src="${'/img/logo.jpg'}" class="logo-image">
                Farmacia Online
            </a>
            <li class="nav-item">
                <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cart" >
                    <img th:src="${'/icon/cart.png'}" class="cart_icon">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile" >
                    <img th:src="${'/img/avatar.jpeg'}" class="profile-image">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signout" >Sign Out <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>
</nav>

<div class="containerProfile">
    <h1 class="titleProfile">Profile</h1>
    <div class="profile_info">
        <div class="avatar">
            <img th:src="${'/img/avatar.jpeg'}">
        </div>
        <div class="info">
            <div class="component">
                <h4 class="title_info">Name</h4>
                <p class="content" th:text="${name}"></p>
            </div>
            <div class="component">
                <h4 class="title_info">Username</h4>
                <p class="content" th:text="${username}"></p>
            </div>
        </div>
        <div class="info">
            <div class="component">
                <h4 class="title_info">Email</h4>
                <p class="content" th:text="${email}"></p>
            </div>
            <div class="component">
                <h4 class="title_info">Contact</h4>
                <p class="content" th:text="${contact}"></p>
            </div>
        </div>
    </div>
    <a href="/orders" class="linkEdit">
        <div class="edit">
            <h4>Follow Orders</h4>
            <img th:src="${'/icon/rightArrow.png'}">
        </div>
    </a>
    <a href="/profile/username" class="linkEdit">
        <div class="edit">
            <h4>Edit Username</h4>
            <img th:src="${'/icon/rightArrow.png'}">
        </div>
    </a>
    <a href="/profile/password" class="linkEdit">
        <div class="edit">
            <h4>Edit Password</h4>
            <img th:src="${'/icon/rightArrow.png'}">
        </div>
    </a>
    <a href="/profile/email" class="linkEdit">
        <div class="edit">
            <h4>Edit Email</h4>
            <img th:src="${'/icon/rightArrow.png'}">
        </div>
    </a>
</div>

</body>
</html>
