<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Farmacy Online Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/signup.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light"  style="background-color: #b1e98f; color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        Farmacia Online <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" id="ul-nav">
            <a class="navbar-brand" >
                <img th:src="${'/img/logo.jpg'}" class="logo-image">
                Farmacia Online
            </a>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/signup"><span class="fas fa-user"></span> Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login"><span class="fas fa-sign-in-alt"></span> Login</a>
            </li>
        </ul>

    </div>
</nav>



<div class="containerSignUp">
    <h1 class="titleSignUp">Sign Up</h1>
    <form th:action="@{/signup}" th:object="${signup_form}" method="post">

        <label for="inserted_name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" id="inserted_name" th:field="*{name}" required>

        <label for="inserted_user"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="inserted_user" th:field="*{username}" required>
        <div th:if="${username}" class="notification">
            <p>Username already exist!</p>
        </div>

        <label for="inserted_email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="inserted_email" th:field="*{email}" required>

        <label for="inserted_contact"><b>Contact</b></label>
        <input type="text" placeholder="Enter Contact" name="contact" id="inserted_contact" th:field="*{contact}" required>

        <label for="password"><b>Password</b></label>
        <input type="password" id="password"  placeholder="Enter Password" name="psw" th:field="*{password1}" required>

        <label for="confirm_password"><b>Confirm Password</b></label>
        <input type="password" id="confirm_password" placeholder="Repeat Password" name="psw-repeat" th:field="*{password2}" required>
        <div th:if="${password}" class="notification">
            <p>Passwords dont match!</p>
        </div>

        <button type="submit" id="btSignUp">Sign Up</button>
    </form>
</div>

</body>
</html>