input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.containerAddress {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 50%;
}

.btConfirmOrder:first-child {
    color: black;
    padding: 14px 20px;
    margin: 8px 1vw 0 0;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 25%;
    background-color: #b7b7b7;
    font-weight: bold;
    text-align: center;
}


.btConfirmOrder:last-child {
    margin-top: 1vh;
    border-radius: 20px;
    width: 75%;
    color: black;
    font-weight: bold;
}

.inserted_zipcode {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.inserted_zipcode input:first-child {
    width: 75%;
}

.inserted_zipcode input:last-child {
    width: 25%;
}

.confirmSection {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.infoAddressFields {
    border-radius: 20px;
    border-color: black;
}

#slash {
    margin: auto 1vw;
}