.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.containerCarrinho {

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.product_item {
    display: flex;
    flex-direction: row;
    height: 25vh;
    padding: 2vh 2vw;
    align-items: center ;
    justify-content: space-between;
    background-color: #c6cace;
    color: black;
    border-radius: 20px;
    border-color: transparent;
    margin: 1vw;
}

.product_img_container {
    display: flex;
    width: 15vw;
    height: 21vh;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    margin-right: 1vw;
    padding: 2vh 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.product_img {
    border-radius: 20px;
    max-width: 60%;
    max-height: 21vw;
}

.product_name {
    display: flex;
    flex-direction: column;
}

.product_name p:first-child {
    font-size: 1.5vw;
    font-weight: bold;
}

.product_name p:last-child {
    font-size: 1vw;
}

.product_quantity {
    display: flex;
    flex-direction: row;
    margin: 1vh 1vw;
    background-color: black;
    border-radius: 10px;
    color: white;
}

.add_remove_icons {
    padding: 0.1vw;
    background-color: white;
    margin: 0.5vw;
    border-radius: 5px;
}

.quantity {
    margin: 0;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.quantity_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0.5vw;
}

.product_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quantity_and_price_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.product_price {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 2vw;
    font-weight: bold;
}

.delete_product {
    margin: 2vw;
}

.trash_icon {
    width: 2vw;

}

.btnConfirm {
    margin-top: 1vh;
    border-radius: 20px;
    background-color: #b1e98f;
    text-align: center;
    padding: 1.5vw;
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.btnConfirm:visited {
    text-decoration: none;
    color: black;
}

.btnConfirm:hover {
    text-decoration: none;
    color: black;
}

.no_products_message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 2vh;
}

.no_products_image {
    border-radius: 20px;
    margin-bottom: 2vh;
}