input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.editUsernameFields {
    border-radius: 20px;
    border-color: black;
}

#btChange {
    margin-top: 1vh;
    border-radius: 20px;
}

.containerEditUsername {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 30%;
}

.title {
    display: flex;
    flex-direction: row;
}

.titleEdit {
    margin-left: 1vw;
}

.editUsernameForm {
    margin-top: 5vh;
}

#errorMessage {
    font-size: 1vw;
    color: #ff4d4f;
}