.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
.product_container{
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product_item {
    background-color: #c6cace;
    box-shadow: 10px 10px 5px grey;
    color: black;
    border-radius: 20px;
    width: 30vw;
    height: 30vh;
    margin: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.product_img_container {
    display: flex;
    width: 15vw;
    height: 24vh;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    margin: 3vh 2vw 3vh 2vw;
    padding: 2vh 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product_img {
    border-radius: 20px;
    max-width: 60%;
    max-height: 26vw;
}

.product_info {
    width: 15vw;
    height: 30vh;
    padding: 3vh 2vw 3vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_price {
    display: flex;
    flex-direction: row;
    margin-right: 2vw;
}

.product_name {
    font-size: 1.5vw;
    font-weight: bold;
}

.product_price div {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.product_price p:first-child {
    margin-right: 0.5vw;
}

.add_to_cart {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #b1e98f;
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    padding: 1vh 1vw;
    border: 0;
    width: 100%;
    text-decoration: none;
    color: black;
}

.add_to_cart:visited {
    text-decoration: none;
    color: black;
}


.title {
    margin-top: 10%;
    margin-bottom: 2vh;
    margin-left: 5%;
    font-size: 4vw;
}

