
.backgroundFarmacy {
    width: 100%;
    height: 70%;
    position: relative;
}

.backgroundFarmacy h1 {
    position: absolute;
    right: 20%;
    left: 20%;
    z-index: 1;
    text-align: center;
    align-items: center;
    justify-items: center;
    font-size: 10vw;
}

.backgroundFarmacy a{
    padding: 1vw 2vw 1vw 2vw;
    font-size: 1.2vw;
    background-color: #b1e98f;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

.backgroundFarmacy a:last-child{
    margin-top: 2vh;
    padding: 1vw 2vw 1vw 2vw;
    font-size: 1.2vw;
    background-color: #b1e98f;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}


.backgroundFarmacy a:visited {
    text-decoration: none;
}

.backgroundFarmacy img {
    width: 100%;
    z-index: 0;
    opacity: 80%;
}

.index {
    overflow-y: hidden;
    overflow-x: hidden;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #b1e98f;
    color: black;
}

nav h1 {
    font-size: 2vw;
}

.link{
    display: flex;
    position: absolute;
    top: 65%;
    left: 45%;
    right: 45%;
    z-index: 1;
    flex-direction: column;
}