input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}

.containerLogin {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 50%;
}


.notification {
    text-align: center;
    margin: 24px 0 12px 0;
    color: #ff4d4f;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.titleLogin {
    font-size: 4vw;
    margin-bottom: 5vh;
}

#btLogin {
    margin-top: 1vh;
    border-radius: 20px;
}

.infoLoginFields {
    border-radius: 20px;
    border-color: black;
}