.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.containerOrders {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.ordersSection {
    display: flex;
    flex-direction: column;
}

.order_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3vh;
    background-color: #b7b7b7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 2vw;
}

.order_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list_products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2vw;
    font-size: 1.5vw;
    font-weight: bold;
}

.address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2vw;
    font-size: 1vw;

}

.order_price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2vw;
    font-size: 2vw;
    font-weight: bold;
}

.order_current_status {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.order_current_status {
    padding: 2vw;
    background-color: #b1e98f;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}