.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.product_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.product_img {
    width: 80%;
}

.product_img_container {
    border-radius: 20px;
    margin: 2vw 2vh;
    justify-content: center;
    align-content: center;
    display: flex;
}

.infoSection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product_info {
    display: flex;
    flex-direction: column;
}

.product_info p:first-child {
    font-size: 2.5vw;
    font-weight: bold;
}

.product_info p:last-child {
    font-size: 1.5vw;
}

.product_price {
    font-size: 3vw;
}

.btnAddCart {
    border-radius: 20px;
    background-color: #b1e98f;
    color: black;
    padding: 2vw 2vh;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: bold;
}

.btnAddCart:hover {
    text-decoration: none;
    color: black;
}

.btnAddCart:visited {
    text-decoration: none;
    color: black;
}