.profile-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 2vw;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.containerProfile {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.edit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1vh 2vw;
    border-radius: 20px;
    background-color: #edf1d9;
    color: black;
    margin-bottom: 2vh;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

.edit:hover {
    background-color: #b1e98f;
    padding: 1.5vh 2.5vw;
}

.edit h4 {
    margin:0;
    text-align: center;
    vertical-align: middle;
    height: 3vh;
    line-height: 1.8;
}

.profile_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    margin: 3vw;
}

.linkEdit:hover {
    text-decoration: none;
}

.nav-link-signout {
    text-decoration: none;

}

