input[type=text], input[type=password] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.titleSignUp {
    font-size: 4vw;
    margin-bottom: 2vh;
}

#btSignUp {
    margin-top: 1vh;
    border-radius: 20px;
}

.containerSignUp {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    width: 50%;
}

.containerSignUp input {
    border-radius: 20px;
    border-color: black;
}

.containerSignUp label {
    margin-bottom: 0;
}