html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

button {
    background-color: #b1e98f;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.nav-link {
    margin-top: 0.5vh;
}
